body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(120.02deg, #A1C4FD 0%, #C2E9FB 51.57%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0 !important;
}